<div>
    <h1>Hello Welcome to my webpage</h1>
    <h1>I built it in a minute with Bootstrap</h1>

    <div style="text-align: center;">
    	<iframe src="//player.vimeo.com/video/87039529" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
    	<p style="text-align: center;"><a href="http://vimeo.com/87039529">One Minute Bootstrap</a> from <a href="http://vimeo.com/user21070761">Andy Brown</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
</div>